@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2015/07/05/13/44/beach-832346_1280.jpg')
}

.flightinfo {
  height: 6em;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.basicinfo {
  display: flex;
  flex-direction: row;
  background-color: darkgrey;
  border-radius: 0.8em;
}

.direct {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 7em;
}

.direct p {
  line-height: 0;
}

.departure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 7em;
}

.duration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7em;
}

.duration p {
  line-height: 0;
}

.duration-text {
  font-size: 0.8em;
}

.duration p {
  line-height: 0;
}

.arrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7em;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  background-color: lightgray;
  border-radius: 0.8em;  
}

.price p {
  font-size: 2em;
  font-weight: 600;
}

.time {
  font-weight: 600;
}

.searchbox {
  display: flex;
  flex-direction: row;
  background-color: white;
  opacity: 0.8;
  border-radius: 2em;
  padding: 0.5em 1em;
  margin: 1em;
}

label {
  display: inline;
}

select {
  display: inline;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  background-color: white;
  opacity: 0.8;
  border-radius: 2em;
  padding: 0 1em;
  margin: 1em;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.8;
  border-radius: 2em;
  padding: 0 1em;
  margin: 1em;
}

